<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
        Id="1"
        photoCover="https://media.licdn.com/dms/image/v2/D4D22AQEyKrNmTMS7Yg/feedshare-shrink_1280/B4DZWBo8ERG8Ak-/0/1741636748431?e=1744243200&v=beta&t=zYy07_NhT1xt4UgCFlvt4Te3M7xoaM9GKCnnDrQAxk4"
        carTitle="Formação Java Developer"
        cardDescription="Ser um Java Developer exige domínio de Java, Spring Boot, bancos de dados, APIs REST, testes e arquitetura de software. Também envolve POO, padrões de projeto e boas práticas. Com essa formação, é possível atuar em web, mobile, aplicações corporativas e microsserviços, sendo uma carreira valorizada no mercado.">

        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card 
        Id="4"
        photocover="https://media.licdn.com/dms/image/v2/D4D22AQGOZZs3Dqwsqw/feedshare-shrink_1280/B4DZWcyE4pH4As-/0/1742092128607?e=1744848000&v=beta&t=tPB6Gf97fdkJdYeCLAR1CidMqs1_ud-OGQRX7Xe8sSQ"
        cardTitle="Decola tech" >   
        </app-small-card>
        <app-small-card 
        Id="2"
        photocover="https://media.licdn.com/dms/image/v2/D4D22AQEB66maFRrJ3A/feedshare-shrink_1280/B4DZWBo8DXGkAk-/0/1741636748119?e=1744848000&v=beta&t=nHoLjg4nOHPQ8oeVzbuJojuW9AXByYUDeTCZWvKls7g"
        cardTitle="GFT - Desenvolvimento Java com IA">
        </app-small-card>
        <app-small-card 
        Id="3"
        photocover="https://media.licdn.com/dms/image/v2/D4D22AQHhREg258daDw/feedshare-shrink_2048_1536/B4DZWBo8EiGkAs-/0/1741636748634?e=1744848000&v=beta&t=UcCizmqbwmid0Jqv0N1NDmrUimeeOrYmNz4R2ObsBLM"
        cardTitle="Formação React Developer" >   
        </app-small-card>
        <app-small-card 
        Id="5"
        photocover="https://media.licdn.com/dms/image/v2/D4D22AQECKZKEDIA1Hw/feedshare-shrink_2048_1536/B4DZWcyE4lG4As-/0/1742092128643?e=1744848000&v=beta&t=-T4Qs1b1lZfjbNf1UWKX7FSGI2Cd0bToXW9_3hB5G-I"
        cardTitle="Basic Front-end" >   
        </app-small-card>
    </div>
</div>
